//= require routes

(function(crossroads, hasher) {
    "use strict";

    <% unless Rails.env.production? %>
    crossroads.routed.add(console.log, console); //log all routes
    <% end %>

    function historyChange() {
        var state = History.getState();

        crossroads.parse(state.hash);
    }

    History.Adapter.bind(window,'statechange',historyChange);

    $(historyChange);
})(window.crossroads, window.hasher);
