doctype html
html lang="en"
  head
    meta charset="utf-8"
    meta name="viewport" content="width=device-width, initial-scale=1.0"

    title React Skeleton

    = stylesheet_link_tag "application"
    = javascript_include_tag "vendor/modernizr"
    = javascript_include_tag "application"
    script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?sensor=false"

    = csrf_meta_tag

  body ya
